*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1500px;
    margin: 0 auto;
}



.promo{
    height: 1000px;
    background: url("../img/christin-hume-0MoF-Fe0w0A-unsplash.jpg") center center/cover no-repeat;
    font-family: "Jura", sans-serif;
    padding: 39px 0 62px 0;
    
    
}

.promo .container{
    margin-top: 350px;
}

.promo h1{
    font-size: 70px;
    -webkit-text-stroke: #252525 3px;
    color: white;
}



.promo .promo_text{
    padding: 0 13px;
    margin-top: 50px;
    color: #ffffff;
    -webkit-text-stroke: #252525 1px;
    font-size: 30px;
}


.more{
    margin-top: 73px;
}

.more .more_text{
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}



.benefits{
    min-height: 500px;
    padding: 102px 0 107px 0;
    background-color:#a85621;
}



.benefits .benefits_header{
    color: #DFB98E;
    font-size: 40px;
    font-family: "Jura", sans-serif;
    margin-bottom: 50px;
    text-align: center;
}


.benefits .benefits_text{
    /*margin-top: 25px;
    margin-left: 391px;*/
    color: #DFB98E;
    /**/
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 50px;

    font-family: "Jura", sans-serif;

}

.benefits .benefits_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*position: absolute;*/
    top: -54px;
    left: -240px;
    z-index: -1;
}

.kinds{
    height: 750px;
    background-color: #DFB98E;
    padding: 85px;
    font-family: "Jura", sans-serif;
}

.kinds .kinds_header{
    color: #564433;
    font-family: "Jura", sans-serif;
    font-size: 30px;
    font-weight: 200px;
    text-transform: uppercase;
    text-align: center;
}



.kinds .kinds_wrapper{
    margin-top: 45px;
    width: 3000px;
}

.kinds .kinds_wrapper .kinds_item{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    width: 15%;
    font-family: "Jura", sans-serif;
    text-align: center;
}

.kinds .kinds_wrapper .kinds_img{
    width: 80%;
}

.kinds .kinds_wrapper .kinds_item .kinds_descr{
    margin-top: 70px;
    color:#564433;
    font-family: "Jura", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 21px;
}

.kinds .kinds_wrapper .kinds_item .kinds_title{
    margin-top: 33px;
    color:#564433;
    font-family: "Jura", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 21px;
}



.session{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background-color: #912005;
}
.session .session_header{
    color:#DFB98E;
    text-align: center;
    font-family: "Jura", sans-serif;
    margin-bottom: 100px;
}

.session .session_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.session .session_wrapper .session_item{
    width: 204px;
}

.session .session_wrapper .session_icon{
    width: 50%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

}


.session .session_wrapper .session_item .session_descr{
    margin-top: 25px;
    text-align: center;
    color:#DFB98E;
    font-family: "Jura", sans-serif;
    /**/
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;

}

.gift{
    background-image: url("../img/massage_gift.jpg");
    height:900px;
    color:#DFB98E;
    font-family: "Jura", sans-serif;

}

.gift .gift_header{
    padding-top: 50px;
    padding-bottom: 30px;

    font-size: 40px;
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: #252525 2px;
}

.gift .gift_img{
    width: 500px;
    margin: 0 auto; /* Center the image horizontally */
    display: block;
}

.gift .gift_text1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;

    -webkit-text-stroke: #252525 0.8px;
}

.gift .gift_text2{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;

    -webkit-text-stroke: #252525 0.8px;
}

